/* Основные настройки */
body {
  background-color: #1e1e1e;
  color: chartreuse;
  font-family: 'Courier New', monospace;
  margin: 0;
  padding: 0;
}

/* Заголовки */
.header {
  text-align: center;
  padding: 20px 0;
}

.subtitle {
  font-size: 1.2rem;
  display: inline;
}

#blink {
  animation: blink 1.5s infinite;
}

/* Обо мне */
.about, .projects {
  margin: 20px auto;
  max-width: 800px;
  padding: 20px;
  background-color: #282828;
  border: 1px solid chartreuse;
  border-radius: 10px;
}

/* Картинка */
.image-section {
  display: flex;
  justify-content: center;
  margin: 20px auto;
}

.centered-image {
  max-width: 500px;
  width: 100%;
  border-radius: 10px;
}

/* Проекты */
.project-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.btn {
  padding: 10px 15px;
  color: #1e1e1e;
  background-color: chartreuse;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #8bda8b;
}

/* Подвал */
footer {
  text-align: center;
  padding: 20px;
  font-size: 0.9rem;
  color: #d3d3d3;
}

footer a {
  color: chartreuse;
  text-decoration: none;
}

/* Анимация */
@keyframes blink {
  50% { opacity: 0; }
}

/* Адаптивность */
@media (max-width: 768px) {
  .about, .projects {
      padding: 10px;
  }

  .btn {
      width: 100%;
      text-align: center;
  }
}
