* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #0a0a0a;
  color: #e1e1e1;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  border-bottom: 2px solid #00ff00;
}

.terminal {
  width: 80%;
  background: #1e1e1e;
  border: 2px solid #00ff00;
  border-radius: 10px;
}

.terminal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  background: #333;
  border-bottom: 2px solid #00ff00;
  border-radius: 8px 8px 0 0;
}

.circle {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 5px;
  border-radius: 50%;
}

.red { background: #ff5f56; }
.yellow { background: #ffbd2e; }
.green { background: #27c93f; }

.terminal-title {
  color: #00ff00;
  font-size: 1rem;
  margin-left: auto;
  margin-right: 10px;
}

.terminal-body {
  padding: 20px;
  color: #e1e1e1;
  font-size: 1.2rem;
}

.terminal-body h1 {
  margin: 0;
  font-size: 2rem;
}



main {
  padding: 20px;
}

.about, .projects {
  margin: 20px auto;
  width: 80%;
  border: 2px solid #00ff00;
  border-radius: 10px;
  padding: 20px;
  background: #1e1e1e;
}

.centered-image {
  max-width: 60%;  /* Уменьшаем максимальную ширину картинки */
  height: auto;
  border-radius: 10px;
  margin: 20px auto;
  display: block;
}

.project-links a {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  color: #00ff00;
  text-decoration: none;
  border: 2px solid #00ff00;
  border-radius: 5px;
  transition: background 0.3s;
}

.project-links a:hover {
  background: #00ff00;
  color: black;
}

footer {
  margin-top: 20px;
  padding: 10px;
  border-top: 2px solid #00ff00;
}

.terminal-footer {
  color: #e1e1e1;
}

.terminal-footer a {
  color: #00ff00;
  text-decoration: none;
}

.terminal-footer a:hover {
  text-decoration: underline;
}
